<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/styles.cc" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title>No title Specified</title>	
		{% endif %}
	</head>

	<body>
		{% include "_navbar.html" %}
		{% include "_flash.html" %}
		{% block content %}{% endblock %}
	</body>
</html>
