<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand abs" href="/">Library Tracker</a>
		</div>
		<!-- Left side of navbar -->
		<ul class="nav navbar-nav">
			<a class="nav-item nav-link" href="{{ url_for('index') }}">All Books</a>
			<a class="nav-item nav-link" href="{{ url_for('read') }}">Read Books</a>
			<a class="nav-item nav-link" href="{{ url_for('unread') }}">Unread Books</a>
			<!-- Dropdown option -->	
		</ul>

		<!-- Right side of nav bar -->
		<ul class="navbar-nav ml-auto">
			<h6 class="nav-item text-white">{{ completed }}/100</h6>
		</ul>
	</div>
</nav>
