{% extends "_base.html" %}
{% block content %}
{% for book in books %}
<ul class="list-group">
<div class="book">
	<li class="list-group-item list-group-item-success">
	{{ book.rank }}) 
	{{ book.title }} - {{ book.author }}
	</li>
</div>
{% if loop.last %}
	<h6>You have read {{ loop.index }} books </h6>
{% endif %}
{% endfor %}
</ul>
{% endblock %}
