{% extends "_base.html" %}
{% block content %}
</div>
<ul class="list-group">
{% for book in books %}
<div class="book">
	{% if book.read == True %}
		<li class="list-group-item list-group-item-success">
	{% else %}
		<li class="list-group-item list-group-item-danger">
	{% endif %}
	{{ book.rank }}) 
	{{ book.title }} - {{ book.author }}
	{% if book.read == False %}
		<div class="form-check form-check-inline">
			<a href="/markAsRead/{{ book.rank }}" role="button" class="btn btn-outline-danger">Mark as read</a>
		</div>
	{% endif %}
	</li>
</div>
{% endfor %}
</ul>
{% endblock %}
