{% extends "_base.html" %}
{% block content %}
{% for book in books %}
<ul class="list-group">
<div class="book">
	<li class="list-group-item list-group-item-danger">
	{{ book.rank }}) 
	{{ book.title }} - {{ book.author }}
	<div class="form-check form-check-inline">
		<a href="/markAsRead/{{ book.rank }}" role="button" class="btn btn-outline-danger">Mark as read</a>
	</div>
	</li>
</div>
{% endfor %}
</ul>
{% endblock %}
